fastapi
uvicorn
sqlalchemy
psycopg2-binary
jinja2
pytz
itsdangerous
python-dotenv
requests
passlib[bcrypt]
python-multipart
openpyxl
weasyprint
pandas
xhtml2pdf
gunicorn
APScheduler==3.11.2
redis>=5.0.0
