#globalLoader{
    position:fixed;
    inset:0;
    background:rgba(255,255,255,.95);
    z-index:999999;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.loader-spinner{
    width:60px;
    height:60px;
    border:5px solid #e5e7eb;
    border-top:5px solid #2563eb;
    border-radius:50%;
    animation:spin 1s linear infinite;
}

.loader-text{
    margin-top:15px;
    font-size:15px;
    font-weight:600;
}

@keyframes spin{
    100%{
        transform:rotate(360deg);
    }
}